<a {{action "translate"}} title={{i18n "translator.view_translation"}} class="translate-title" role="button">
  {{d-icon "globe"}}
</a>
{{conditional-loading-spinner size="small" condition=translating}}
