[data-identifier="discourse-translator_language-switcher"]
  .fk-d-menu__inner-content {
  max-height: 50vh;
}

.topic-navigation.with-timeline .discourse-translator_toggle-original {
  margin-bottom: 0.5em;
}

.topic-navigation.with-topic-progress .discourse-translator_toggle-original {
  margin-right: 0.5em;
  align-self: stretch;

  button {
    height: 100%;
    width: 100%;
  }
}

.discourse-translator_toggle-original {
  button.active svg {
    color: var(--tertiary);
  }
}
