.topic-attribution {
  font-weight: bold;
  margin-bottom: 1em;
  margin-top: 1em;
}

.post-attribution {
  color: #8899a6;
  font-size: 12px;
}

button.translated {
  color: var(--tertiary) !important;
}
